global
    maxconn 256
    log stdout format raw local0

defaults
    mode tcp
    log global
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend redis_frontend
    bind *:6379
    default_backend redis_backend

backend redis_backend
    balance roundrobin
    option tcp-check
    tcp-check connect
    tcp-check send INFO\r\n
    tcp-check expect string role:master
    server redis-primary redis-primary:6379 check inter 2s fall 2 rise 2
    server redis-replica redis-replica:6379 check inter 2s fall 2 rise 2

listen stats
    bind *:8405
    mode http
    stats enable
    stats uri /
    stats refresh 10s
