global
    maxconn 256
    log stdout format raw local0

defaults
    mode tcp
    log global
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend pg_read
    bind *:5432
    default_backend pg_replicas

backend pg_replicas
    balance roundrobin
    option tcp-check
    server db-secondary-1 db-secondary:5432 check inter 5s fall 2 rise 2
    server db-secondary-2 db-secondary-2:5432 check inter 5s fall 2 rise 2

listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /
    stats refresh 10s
